<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Discipline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Discipline.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Discipline.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Discipline.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Discipline.Properties.Settings>
            <setting name="tasktask1" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask2" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask3" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask4" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask5" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask6" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue1" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue2" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue3" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue4" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue5" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue6" serializeAs="String">
                <value />
            </setting>
        </Discipline.Properties.Settings>
        <Discipline.Settings1>
            <setting name="tasktask1" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask2" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask3" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask4" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask5" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask6" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue1" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue2" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue3" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue4" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue5" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue6" serializeAs="String">
                <value />
            </setting>
        </Discipline.Settings1>
        <Discipline.Properties.Settings1>
            <setting name="tasktask2" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask3" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask4" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask5" serializeAs="String">
                <value />
            </setting>
            <setting name="tasktask6" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue1" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue2" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue3" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue4" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue5" serializeAs="String">
                <value />
            </setting>
            <setting name="taskdue6" serializeAs="String">
                <value />
            </setting>
        </Discipline.Properties.Settings1>
    </userSettings>
    <applicationSettings>
        <Discipline.Properties.Settings1>
            <setting name="tasktask1" serializeAs="String">
                <value />
            </setting>
        </Discipline.Properties.Settings1>
    </applicationSettings>
</configuration>